# Node.js
node_modules/
npm-debug.log

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
venv311/
venv*/

# Môi trường
.env
.env.local

# Dữ liệu ảnh, video test (không push lên git)
*.mp4
*.avi
*.jpg
*.png
*.jpeg
/services/ai-service/data/
output_violations/

# AI Models & Weights
*.h5
*.pt
*.onnx
*.weights

# OS/IDE
dist/
.DS_Store
.idea/
.vscode/
*.zip